body {
    margin: 0;
    padding: 0;
    background: rgb(155, 245, 255);
}

.logo {
    background: rgb(15, 15, 158);
    height: 25%;
    width: 80%;
    padding: 5px;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0;
}

.logo img {
    width: 100%;
    height: 100%;
}